<div class="row" style="margin:10px;">


<form action="/admin/generate-fake-posts" method="post">

<div class="form-group">

        <h1>Generate Post</h1>

<input type="number" class="form-control" name="amount">

</div>

<button type="submit" class="btn btn-dark">Generate</button>

<div>
        {{#if user}}

        {{user.firstName}}

        {{/if}}
</div>






</form>





</div>

 <div class="row">


       <canvas id="myChart"></canvas>




   </div>

