    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="/img/wdt_png.png"  style="height: 50px;" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
                            <div class="main-menu  d-none d-lg-block text-right">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">home</a></li>
                                        <li><a href="/about">About</a></li>
                                        {{!-- <li><a href="/admin">Admin</a></li> --}}

                                          <li><a href="#">Account <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                              <li><a href="/register">Register</a></li>
                                                <li><a href="/login">Login</a></li>
                
                                            </ul>
                                        </li>

                                        
                                        <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/blog">blog</a></li>
                                                {{!-- <li><a href="/blog_single">single-blog</a></li> --}}
                                            </ul>
                                        </li>
                                        <li><a href="#">pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                    <li><a href="/portfolio-work">Portfolio work</a></li>
                                                 <li><a href="/work_details">work details</a></li>
                                                 <li><a href="/services">Services</a></li>
                                                 <li><a href="/elements">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->