    <!-- bradcam_area  -->
    <div class="bradcam_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>works</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->


    <div class="portfolio_area">
        <!-- <div class="container-fluid p-0"> -->
            <div class="portfolio_wrap">
                <div class=" single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/1.png" alt="">
                    </div>
                    <div class="gallery_hover">
                        <div class="hover_inner">
                                <span>Mobile App</span>
                                <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                                
                        </div>
                    </div>
                </div>
                <div class="single_gallery small_width">
                    <div class="thumb">
                        <img src="img/portfolio/2.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class="single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/3.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class=" single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/4.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class="single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/5.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class=" single_gallery small_width">
                    <div class="thumb">
                        <img src="img/portfolio/6.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class="single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/7.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class=" single_gallery small_width">
                    <div class="thumb">
                        <img src="img/portfolio/8.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
                <div class=" single_gallery">
                    <div class="thumb">
                        <img src="img/portfolio/9.png" alt="">
                    </div>
                    <div class="gallery_hover">
                            <div class="hover_inner">
                                    <span>Mobile App</span>
                                    <a href="work_details.html"> <h3>Ubar Mobile App</h3></a>
                            </div>
                        </div>
                </div>
            </div>
        <!-- </div> -->
        <div class="more_works text-center">
            <a href="#">Load More</a>
        </div>
    </div>

    <!-- testimonial_area  -->
    <div class="testimonial_area ">
            <div class="outline_text white testmonial d-none d-lg-block">
                    Testimonial
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="testmonial_active owl-carousel">
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single_carousel">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <div class="single_testmonial text-center">
                                                <div class="thumb">
                                                        <img src="img/testmonial/thumb.png" alt="">
                                                </div>
                                            <p>Innovative brewing methods and our coffee is sourced from various parts of the globe and are roasted to perfection. </p>
                                            <div class="testmonial_author">
                                                <h3>Mesica Chouhan</h3>
                                                <span>Mesica Chouhan</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- /testimonial_area  -->
    
    <!-- discuss_projects_start  -->
    <div class="discuss_projects">
            <div class="outline_text white project d-none d-lg-block">
                    Let’s talk
            </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="project_text text-center">
                        <h3>Let’s start your project with us</h3>
                        <a class="boxed-btn3" href="#">Start Talking</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- discuss_projects_end  -->